In [4]:
import pandas as pd
import numpy as np

read_loan_data = pd.read_csv("loan_data.csv")

loan_backup = pd.read_csv("loan_data.csv")

/var/folders/_g/pc4vwpvd0t97ll9qcy03gspc0000gn/T/ipykernel_64957/3433127973.py:3: DtypeWarning: Columns (6,9,10,11,12,13,15,16,17,18,19,20,21,22,23,24,27,36,46,48,49,53) have mixed types. Specify dtype option on import or set low_memory=False.
  read_loan_data = pd.read_csv("loan_data.csv")
/var/folders/_g/pc4vwpvd0t97ll9qcy03gspc0000gn/T/ipykernel_64957/3433127973.py:5: DtypeWarning: Columns (6,9,10,11,12,13,15,16,17,18,19,20,21,22,23,24,27,36,46,48,49,53) have mixed types. Specify dtype option on import or set low_memory=False.
  loan_backup = pd.read_csv("loan_data.csv")

In [6]:
pd.options.display.max_columns = None #display option

read_loan_data.head()

,Unnamed: 0,id,member_id,loan_amnt,funded_amnt,funded_amnt_inv,term,int_rate,installment,grade,sub_grade,emp_title,emp_length,home_ownership,annual_inc,verification_status,issue_d,loan_status,pymnt_plan,url,desc,purpose,title,zip_code,addr_state,dti,delinq_2yrs,earliest_cr_line,inq_last_6mths,mths_since_last_delinq,mths_since_last_record,open_acc,pub_rec,revol_bal,revol_util,total_acc,initial_list_status,out_prncp,out_prncp_inv,total_pymnt,total_pymnt_inv,total_rec_prncp,total_rec_int,total_rec_late_fee,recoveries,collection_recovery_fee,last_pymnt_d,last_pymnt_amnt,next_pymnt_d,last_credit_pull_d,collections_12_mths_ex_med,mths_since_last_major_derog,policy_code,application_type,annual_inc_joint,dti_joint,verification_status_joint,acc_now_delinq,tot_coll_amt,tot_cur_bal,open_acc_6m,open_il_6m,open_il_12m,open_il_24m,mths_since_rcnt_il,total_bal_il,il_util,open_rv_12m,open_rv_24m,max_bal_bc,all_util,total_rev_hi_lim,inq_fi,total_cu_tl,inq_last_12m
0,0.0,1077501.0,1296599.0,5000.0,5000.0,4975.0,36 months,10.65,162.87,B,B2,NaN,10+ years,RENT,24000.0,Verified,Dec-11,Fully Paid,n,https://www.lendingclub.com/browse/loanDetail....,Borrower added on 12/22/11 > I need to upgra...,credit_card,Computer,860xx,AZ,27.65,0.0,Jan-85,1.0,NaN,NaN,3.0,0.0,13648.0,83.7,9.0,f,0.0,0.0,5861.071414,5831.78,5000.00,861.07,0.00,0.00,0.00,Jan-15,171.62,NaN,Jan-16,0.0,NaN,1.0,INDIVIDUAL,NaN,NaN,NaN,0.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1,1.0,1077430.0,1314167.0,2500.0,2500.0,2500.0,60 months,15.27,59.83,C,C4,Ryder,< 1 year,RENT,30000.0,Source Verified,Dec-11,Charged Off,n,https://www.lendingclub.com/browse/loanDetail....,Borrower added on 12/22/11 > I plan to use t...,car,bike,309xx,GA,1.00,0.0,Apr-99,5.0,NaN,NaN,3.0,0.0,1687.0,9.4,4.0,f,0.0,0.0,1008.710000,1008.71,456.46,435.17,0.00,117.08,1.11,Apr-13,119.66,NaN,Sep-13,0.0,NaN,1.0,INDIVIDUAL,NaN,NaN,NaN,0.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2,2.0,1077175.0,1313524.0,2400.0,2400.0,2400.0,36 months,15.96,84.33,C,C5,NaN,10+ years,RENT,12252.0,Not Verified,Dec-11,Fully Paid,n,https://www.lendingclub.com/browse/loanDetail....,NaN,small_business,real estate business,606xx,IL,8.72,0.0,Nov-01,2.0,NaN,NaN,2.0,0.0,2956.0,98.5,10.0,f,0.0,0.0,3003.653644,3003.65,2400.00,603.65,0.00,0.00,0.00,Jun-14,649.91,NaN,Jan-16,0.0,NaN,1.0,INDIVIDUAL,NaN,NaN,NaN,0.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
3,3.0,1076863.0,1277178.0,10000.0,10000.0,10000.0,36 months,13.49,339.31,C,C1,AIR RESOURCES BOARD,10+ years,RENT,49200.0,Source Verified,Dec-11,Fully Paid,n,https://www.lendingclub.com/browse/loanDetail....,Borrower added on 12/21/11 > to pay for prop...,other,personel,917xx,CA,20.00,0.0,Feb-96,1.0,35.0,NaN,10.0,0.0,5598.0,21.0,37.0,f,0.0,0.0,12226.302210,12226.30,10000.00,2209.33,16.97,0.00,0.00,Jan-15,357.48,NaN,Jan-15,0.0,NaN,1.0,INDIVIDUAL,NaN,NaN,NaN,0.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
4,4.0,1075358.0,1311748.0,3000.0,3000.0,3000.0,60 months,12.69,67.79,B,B5,University Medical Group,1 year,RENT,80000.0,Source Verified,Dec-11,Current,n,https://www.lendingclub.com/browse/loanDetail....,Borrower added on 12/21/11 > I plan on combi...,other,Personal,972xx,OR,17.94,0.0,Jan-96,0.0,38.0,NaN,15.0,0.0,27783.0,53.9,38.0,f,766.9,766.9,3242.170000,3242.17,2233.10,1009.07,0.00,0.00,0.00,Jan-16,67.79,Feb-16,Jan-16,0.0,NaN,1.0,INDIVIDUAL,NaN,NaN,NaN,0.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

In [5]:
read_loan_data.columns

Index(['Unnamed: 0', 'id', 'member_id', 'loan_amnt', 'funded_amnt',
       'funded_amnt_inv', 'term', 'int_rate', 'installment', 'grade',
       'sub_grade', 'emp_title', 'emp_length', 'home_ownership', 'annual_inc',
       'verification_status', 'issue_d', 'loan_status', 'pymnt_plan', 'url',
       'desc', 'purpose', 'title', 'zip_code', 'addr_state', 'dti',
       'delinq_2yrs', 'earliest_cr_line', 'inq_last_6mths',
       'mths_since_last_delinq', 'mths_since_last_record', 'open_acc',
       'pub_rec', 'revol_bal', 'revol_util', 'total_acc',
       'initial_list_status', 'out_prncp', 'out_prncp_inv', 'total_pymnt',
       'total_pymnt_inv', 'total_rec_prncp', 'total_rec_int',
       'total_rec_late_fee', 'recoveries', 'collection_recovery_fee',
       'last_pymnt_d', 'last_pymnt_amnt', 'next_pymnt_d', 'last_credit_pull_d',
       'collections_12_mths_ex_med', 'mths_since_last_major_derog',
       'policy_code', 'application_type', 'annual_inc_joint', 'dti_joint',
       'verification_status_joint', 'acc_now_delinq', 'tot_coll_amt',
       'tot_cur_bal', 'open_acc_6m', 'open_il_6m', 'open_il_12m',
       'open_il_24m', 'mths_since_rcnt_il', 'total_bal_il', 'il_util',
       'open_rv_12m', 'open_rv_24m', 'max_bal_bc', 'all_util',
       'total_rev_hi_lim', 'inq_fi', 'total_cu_tl', 'inq_last_12m'],
      dtype='object')

In [6]:
read_loan_data.info #all the info of the dataset

<bound method DataFrame.info of         Unnamed: 0         id  member_id  loan_amnt  funded_amnt  \
0              0.0  1077501.0  1296599.0     5000.0       5000.0
1              1.0  1077430.0  1314167.0     2500.0       2500.0
2              2.0  1077175.0  1313524.0     2400.0       2400.0
3              3.0  1076863.0  1277178.0    10000.0      10000.0
4              4.0  1075358.0  1311748.0     3000.0       3000.0
...            ...        ...        ...        ...          ...
237722         NaN        NaN        NaN        NaN          NaN
237723         NaN        NaN        NaN        NaN          NaN
237724         NaN        NaN        NaN        NaN          NaN
237725         NaN        NaN        NaN        NaN          NaN
237726         NaN        NaN        NaN        NaN          NaN

        funded_amnt_inv        term  int_rate  installment grade  ...  \
0                4975.0   36 months     10.65       162.87     B  ...
1                2500.0   60 months     15.27        59.83     C  ...
2                2400.0   36 months     15.96        84.33     C  ...
3               10000.0   36 months     13.49       339.31     C  ...
4                3000.0   60 months     12.69        67.79     B  ...
...                 ...         ...       ...          ...   ...  ...
237722              NaN         NaN       NaN          NaN   NaN  ...
237723              NaN         NaN       NaN          NaN   NaN  ...
237724              NaN         NaN       NaN          NaN   NaN  ...
237725              NaN         NaN       NaN          NaN   NaN  ...
237726              NaN         NaN       NaN          NaN   NaN  ...

       total_bal_il il_util open_rv_12m open_rv_24m  max_bal_bc all_util  \
0               NaN     NaN         NaN         NaN         NaN      NaN
1               NaN     NaN         NaN         NaN         NaN      NaN
2               NaN     NaN         NaN         NaN         NaN      NaN
3               NaN     NaN         NaN         NaN         NaN      NaN
4               NaN     NaN         NaN         NaN         NaN      NaN
...             ...     ...         ...         ...         ...      ...
237722          NaN     NaN         NaN         NaN         NaN      NaN
237723          NaN     NaN         NaN         NaN         NaN      NaN
237724          NaN     NaN         NaN         NaN         NaN      NaN
237725          NaN     NaN         NaN         NaN         NaN      NaN
237726          NaN     NaN         NaN         NaN         NaN      NaN

       total_rev_hi_lim inq_fi total_cu_tl inq_last_12m
0                   NaN    NaN         NaN          NaN
1                   NaN    NaN         NaN          NaN
2                   NaN    NaN         NaN          NaN
3                   NaN    NaN         NaN          NaN
4                   NaN    NaN         NaN          NaN
...                 ...    ...         ...          ...
237722              NaN    NaN         NaN          NaN
237723              NaN    NaN         NaN          NaN
237724              NaN    NaN         NaN          NaN
237725              NaN    NaN         NaN          NaN
237726              NaN    NaN         NaN          NaN

[237727 rows x 75 columns]>

In [7]:
# All countinuous varibles must be numeric 
read_loan_data["emp_length"].unique()

array(['10+ years', '< 1 year', '1 year', '3 years', '8 years', '9 years',
       '4 years', '5 years', nan], dtype=object)

In [8]:
# This converts the employee work length into just integers and nothing else bascially remove all extra words after the year has been mentioned
#read_loan_data["emp_length"] = read_loan_data["emp_length_int"] 

read_loan_data["emp_length_int"] = read_loan_data["emp_length"].str.replace('+ years','')
read_loan_data["emp_length_int"] = read_loan_data["emp_length"].str.replace('years','')
read_loan_data["emp_length_int"] = read_loan_data["emp_length"].str.replace('< 1 year',str(0))

In [9]:
type(read_loan_data['emp_length_int'][0]) #so before the emp_length was all objects right now it has been coverted to string
#Next we need to convert the str to int

str

In [10]:
# convert to integer because in previous line it was str 
read_loan_data['emp_length_int'] = pd.to_numeric(read_loan_data["emp_length_int"], errors = 'coerce')
# now if you have invallid values u can use this fucntion called: errors ="coerce" to NaN
# the to_numeric fucntion is used to convert str to Numpy 


type(read_loan_data['emp_length_int'][0])

numpy.float64

In [11]:
read_loan_data['earliest_cr_line']

0         Jan-85
1         Apr-99
2         Nov-01
3         Feb-96
4         Jan-96
           ...
237722       NaN
237723       NaN
237724       NaN
237725       NaN
237726       NaN
Name: earliest_cr_line, Length: 237727, dtype: object

In [14]:
read_loan_data["earliest_cr_line_date"] = pd.to_datetime(read_loan_data['earliest_cr_line'],format='%b-%y',errors='coerce')
type(read_loan_data['earliest_cr_line_date'][0])

pandas._libs.tslibs.timestamps.Timestamp

In [15]:
# to calculate overall time has been passed after the earliest credit line 
#creates a series showing how long each borrower has had credit history as of Sept 1 3035
#longer days mean better credit history

pd.to_datetime('2025-09-01') - read_loan_data["earliest_cr_line_date"]

0        14853 days
1         9650 days
2         8705 days
3        10805 days
4        10836 days
            ...
237722          NaT
237723          NaT
237724          NaT
237725          NaT
237726          NaT
Name: earliest_cr_line_date, Length: 237727, dtype: timedelta64[ns]

In [23]:
# now to convert all of the days which a person had credit into month we can do:
# for all months in a year avg days in a month in 30.44 
#the new columns name for number of months is: earliest_cr_line_date_month


read_loan_data["earliest_cr_line_date_month"]= round((pd.to_datetime('2025-09-01') - read_loan_data["earliest_cr_line_date"]).dt.days/30.44)


read_loan_data["earliest_cr_line_date_month"].describe()

count     17.000000
mean     309.647059
std       78.070434
min      216.000000
25%      252.000000
50%      286.000000
75%      355.000000
max      488.000000
Name: earliest_cr_line_date_month, dtype: float64